# Python byte-code files
pycache/
*.pyc

# Virtual environment
venv/

# Local configuration files (if any)
local_settings.py
config.ini
config.json

# Logs
logs/

# Temporary files
*.tmp
*.swp

# IDE-specific files
.idea/
.vscode/
